@model IEnumerable<PARCIAL1.Models.Empleados>

@{
    ViewData["Title"] = "Index";
}

<h1>Listado de Empleados</h1>
<style>img{width:250px; height:150px ;}</style>
<img src="~/img/Empleados FP.png" align="right">

<p>
    <a asp-action="Create" button class="btn btn-succes">Create New</a>
</p>

<form asp-controller="Empleados" asp-action="Index">
    <p>
        Buscar: <input type="text" name= "buscar" class="form-text"/>
        <input type="submit" value="Buscar" class="btn btn-sm btn-dark"/>
    </p>

</form>
<table class="table">
    <thead>
        <tr>
              <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.edad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sueldo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ambiguedad)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
             <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.edad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sueldo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ambiguedad)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id" button class="btn btn-primary">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id"button class= "btn btn-warning">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id" button class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
